<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- QR code scanner (onboarding) and camera use inside the Main UI -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-sdk tools:overrideLibrary="androidx.security"/>

    <!-- The setup link can also be pasted, so a camera is optional -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <queries>
        <!-- Crash report e-mails (ACRA) -->
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>
    </queries>

    <application
        android:name=".core.OpenHabApplication"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/backup_rules_v31"
        android:backupAgent=".util.CustomBackupAgent"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:supportsPictureInPicture="false"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/openHAB.Launch">

        <meta-data android:name="android.webkit.WebView.MetricsOptOut" android:value="true" />

        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">

            <!-- for Nougat -->
            <layout
                android:defaultWidth="600dp"
                android:defaultHeight="500dp"
                android:gravity="top|end"
                android:minWidth="80dp"
                android:minHeight="80dp"
                tools:targetApi="n" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Stromkreis onboarding: QR code scanner, stromkreis://setup links and
             https://stromkreis.net/app/setup/<token> app links -->
        <activity
            android:name=".ui.OnboardingActivity"
            android:label="@string/onboarding_title"
            android:launchMode="singleTask"
            android:exported="true"
            android:theme="@style/openHAB.Onboarding">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="stromkreis.net" />
                <data android:host="www.stromkreis.net" />
                <data android:pathPrefix="/app/setup" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="stromkreis" />
                <data android:host="setup" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.preference.PreferencesActivity"
            android:label="@string/app_preferences_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/about_title"
            android:exported="false" />
        <activity
            android:name=".ui.LogActivity"
            android:label="@string/log"
            android:exported="false" />
        <activity
            android:name="de.duenndns.ssl.MemorizingActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.MaterialComponents.Translucent"
            android:exported="false" />
    </application>

</manifest>
